body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@media (min-width: 1500px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1420px !important;
    }
}
.app-container {
    .header-container {
        .navbar {
            z-index: 10;
            background-color: rgba(0, 0, 0, 0) !important;
            padding-top: 20px;

            .nav-link {
                &.active {
                    color: #00bfff;
                }
            }
        }
    }
    .homepage-container {
        .homepage-content {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 30px;
            margin-top: 100px;
            padding: 0 100px;
            width: 46%;
            .homepage-heading {
                font-size: 3.2rem;
            }
            .homepage-title {
                font-size: 1.4rem;
                line-height: 1.4;
            }
            .homepage-btn {
                border: 1px solid #9e9797;
                border-radius: 8px;
                padding: 0 15px;
                height: 40px;
                background-color: #000;
                color: #fff;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}
video {
    position: fixed;
    bottom: -50px;
    width: 100vw;
}
.btn-login,
.btn-sigup {
    border: 1px solid #9e9797;
    border-radius: 8px;
    padding: 0 15px;
    height: 40px;
    &:hover {
        opacity: 0.9;
    }
}
.btn-login {
    margin-right: 15px;
}
.btn-sigup {
    background-color: #000;
    color: #fff;
}
